@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Teko", sans-serif !important;
  background-color: grey !important;
}

.switch {
  margin-right: 10px;
}

.button {
  margin-top: 1rem;
  font-size: 30px !important;
  color: black !important;
  font-weight: 400 !important;
  border: 1px solid darkgrey;
}
